:root {
  --primary-white: #ffffff;

  --primary-color: #ffffff;
  --secondary-color: #0061ff;

  --primary-text-color: #000000;
  --secondary-text-color: #0061ff;
  --button-text-color: #ffffff;

  --primary-background-color: #fcfcfa;
  --secondary-background-color: #f2f2f2;

  --footer-background-color: #f4f4f4;
  --footer-font-color: #070707;
}

[data-theme="dark"] {
  --primary-color: #121212;
  --secondary-color: #3781ee;

  --primary-text-color: #ffffff;
  --secondary-text-color: #3781ee;
  --button-text-color: #ffffff;

  --primary-background-color: linear-gradient(
    135deg,
    #0a0f1c 0%,
    #101d2d 20%,
    #15293f 100%
  );
  --secondary-background-color: #272829;
  --team-background-color: #181c2b;

  --header-background-color: linear-gradient(90deg, #232526 0%, #3781ee 100%);

  --footer-background-color: linear-gradient(90deg, #1a2a6c 0%, #232526 100%);
  --footer-font-color: #f1f1f1;
}

[data-theme="light"] {
  --primary-color: #ffffff;
  --secondary-color: #0061ff;

  --primary-text-color: #000000;
  --secondary-text-color: #0061ff;
  --button-text-color: #ffffff;

  --primary-background-color: #fcfcfa;
  --secondary-background-color: #f2f2f2;
  --team-background-color: #0061ff;

  --header-background-color: #f8f8f8;

  --footer-background-color: #f4f4f4;
  --footer-font-color: #070707;
}
