$primary-color: #ffffff;
$secondary-color: #0061ff;

$primary-background-color: #f2f2f2;

$first-card-background-color: #d9d9d9;
$second-card-background-color: #a7a7a7;
$third-card-background-color: #c3c3c3;
$card-border-color: #0000001a;

$white-board-background-color: #f2feff;

$footer-background-color: #f4f4f4;
$footer-font-color: #070707;

:export {
  primaryColor: $primary-color;
  secondaryColor: $secondary-color;
  primaryBackgroundColor: $primary-background-color;

  firstCardBackgroundColor: $first-card-background-color;
  secondCardBackgroundColor: $second-card-background-color;
  thirdCardBackgroundColor: $third-card-background-color;
  cardBorderColor: $card-border-color;

  whiteBoardBackgroundColor: $white-board-background-color;

  footerBackgroundColor: $footer-background-color;
  footerFontColor: $footer-font-color;
}
